{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Page title
{% endblock %}

{% block scripts %}

    <script>
     	var oTree = oTree || {};
       (function() {
         oTree.group = parseInt("{{ player.group.pk }}");
         oTree.group = isNaN(oTree.group) ? null : oTree.group;
         oTree.role = "{{ player.role }}";
         oTree.participantCode = "{{ player.participant.code }}";
         oTree.appName = "{{ subsession.app_name }}";
         oTree.idInGroup = "{{ player.id_in_group }}";
         oTree.csrfToken = "{{ csrf_token }}";
         {% if view.is_debug %}
         oTree.debug = true;
         {% else %}
         oTree.debug = false;
         {% endif %}
       })();
     </script>

    <link
        rel="import"
        href="{% static "webcomponents/evolving-managers/evolving-managers.html" %}">
{% endblock %}

{% block content %}

     <evolving-managers
         initial-decision="1"
         evolve-var='{{ player.evolve_var }}'
         period-length='{{ player.group.period_length }}'
         evolve='{{ player.subsession.evolve }}'
         c='{{ player.subsession.c }}'>
     </evolving-managers>

     <!-- the how add var above. - ask about output once configs are completed  ed -->
{% endblock %}


