{% extends "otree_redwood/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Your Decision
{% endblock %}

{% block scripts %}
    <link
        rel="import"
        href="{% static "webcomponents/evolving-managers/evolving-managers.html" %}">
{% endblock %}

{% block content %}

     <evolving-managers
         initial-decision='{{ player.initial_decision }}'
         period-length='{{ player.group.period_length }}'
         others-bubbles='{{ player.subsession.bubble_style }}'
         c-var='{{ player.subsession.c_var }}'
         k-var='{{ player.group.window_size }}'
     ></evolving-managers>

{% endblock %}
